@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --background-color: #f2f2f2;
  --nav-color: #2b353e;
  --accent-color: #b8d4e3;
  --hover-color: lightgrey;
  --nav-btn-padding: 6px;
  --border-rad: 10px;
  --pop-up-spacing: 14px;
  --input-padding: 10px;
  --btn-color: white;
}

body {
  height: 100vh;
  background-color: var(--background-color);
  display: grid;
  grid-template: 1fr / 1fr;
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--nav-color);
  position: relative;
}

header h1 {
  font-size: 3rem;
  font-family: "Comfortaa", cursive;
  color: #b6b6f3;
  border-bottom: solid 2px white;
}
.header-icon {
  color: rgb(197, 197, 197);
  position: relative;
  font-size: 2.4rem;
  top: -4px;
}

/* main */
main {
  display: grid;
  grid-template: 10fr 0.3fr / 0.2fr 1fr;
}

main nav {
  font-size: 1.5rem;
  background-color: var(--nav-color);
  display: flex;
  flex-direction: column;
  padding: 45px 35px;
  gap: 20px;
}

.visibility {
  visibility: hidden;
  position: absolute;
}
footer {
  color: black;
  place-self: center;
  grid-area: 2 / 2 / -1 / -1;
}
/* nav */
nav {
  color: white;
  grid-area: 1 / 1 / 3 / 2;
}

nav > *:not(header) {
  margin-top: 30px;
}

nav ul > *,
nav p {
  margin-bottom: 13px;
  list-style: none;
  padding: var(--nav-btn-padding);
  cursor: pointer;
  border-radius: var(--border-rad);
}
nav ul > *:hover {
  background-color: lightslategrey;
}
nav p {
  font-size: 2rem;
  font-weight: 600;
}
nav i {
  padding: 10px;
}

/* nav project */
.project-popup {
  border-radius: var(--border-rad);
  background-color: #f2f2f22c;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.add-project {
  cursor: pointer;
}
.project-input {
  font-size: 1.3rem;
  padding: 8px;
  border-radius: var(--border-rad);
  border: none;
  outline: none;
}
.project-btns {
  display: flex;
  margin-top: 8px;
  gap: 1rem;
}
.project-btns > * {
  flex: 1;
  font-size: 1.2rem;
  border-radius: var(--border-rad);
  padding: 8px;
  border: none;
  outline: none;
}
.project-btns > *:hover {
  cursor: pointer;
}

.proj-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

/* content */

.content {
  width: 60%;
  height: 90%;
  margin: auto;
  font-size: 1.6rem;
  background-color: white;
  padding: 40px;
  border-radius: var(--border-rad);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 18px 5px;
  margin-bottom: 10px;
  border-bottom: solid rgba(128, 128, 128, 0.356) 1px;
}

.add-task {
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

/* popup */
.task-popup {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.198);
  border-radius: var(--border-rad);
  padding: var(--pop-up-spacing);
  gap: var(--pop-up-spacing);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.task-input {
  display: grid;
  grid-template: 1fr / 1fr 0.1fr;
  gap: 1.8rem;
}
.data-name {
  border: none;
  outline: none;
  padding: var(--input-padding);
  font-size: 1.3rem;
  border-radius: var(--border-rad);
}
.date-input {
  display: flex;
  align-items: center;
  gap: var(--pop-up-spacing);
}
#due-date {
  padding: var(--input-padding);
  border: none;
  outline: none;
  font-size: 1.2rem;
  border-radius: var(--border-rad);
}

.btns {
  display: flex;

  gap: 1.8rem;
}
.btns > * {
  flex: 1;
  border: none;
  border-radius: var(--border-rad);
  padding: var(--input-padding);
  font-size: 1.4rem;
}

/* task items */
.task-list {
  list-style: none;
}

.task-item {
  display: flex;
  align-items: center;
  gap: var(--input-padding);
  border-radius: var(--border-rad);
  margin: var(--pop-up-spacing) 0;
  padding-right: 10px;
  border-left: 10px solid rgba(0, 0, 255, 0.335);
  background-color: rgba(160, 160, 160, 0.204);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.task-item > * {
  padding: 6px;
}
.is-past {
  border-left: 10px solid rgba(255, 86, 86, 0.54);
}
.task-item .task-name {
  flex: 1;
}

.task-item .task-check {
  width: 20px;
  height: 20px;
  margin: 0px 6px;
}
.date-change {
  padding: 7px;
  border-radius: var(--border-rad);
  outline: none;
  border: none;
  cursor: pointer;
}
.date-change:hover {
  background-color: var(--hover-color);
}

.add-btn,
.add-project-btn,
.cancel-btn,
.cancel-project {
  cursor: pointer;
  background-color: var(--btn-color);
  border: 1px solid lightgrey;
}

.add-btn:hover,
.add-project-btn:hover,
.cancel-btn:hover,
.cancel-project:hover {
  background-color: rgb(244, 244, 244);
  border: none;
}
